### __BUSA3020 Group Assignment - Predicting Used Car Sale Prices__

--- 

**Kaggle Competition Ends:** Friday, 31 May 2024 @ 3:00pm (Week 13)  
**Assignment Due Date on iLearn:** Friday, 31 May 2024 @ 11.59pm (Week 13)  

**Overview:**   

- In the group assignment you will form a team of 3 students and participate in a forecasting competition on Kaggle
- The goal is to predict prices of used cars based on car characteristics and regression models

**Instructions:** 

- Form a team of 3 students 
- Each team member needs to join [https://www.kaggle.com](https://www.kaggle.com/)  
- Choose a team leader and form a team on Kaggle [https://www.kaggle.com/t/ff5fb5beaeb14f7686df98fef9d1c0bc](https://www.kaggle.com/t/ff5fb5beaeb14f7686df98fef9d1c0bc)
    - Team leader to click on `team` and join and invite other 2 team members to join
    - Your **team's name must start** with our unit code, for instance you could have a team called BUSA3020_algorithm_arena
- All team members should work on all the tasks however   
    - Each team member will be responsible for one of the 3 tasks listed below    
- **Your predictions must be generated by a model you develop here** 
    - You will receive a mark of **zero** if your code is not able produce the forecasts you submit to Kaggle

**Competition Rankings**

The rankings for the competition are determined through two different leaderboards:

- **Public Leaderboard Ranking**: Available during the competition, these rankings are calculated based on 50% of the test dataset, which includes 1,500 observations. This allows participants to see how they are performing while the competition is still ongoing.
- **Final Leaderboard Ranking**: These rankings are recalculated from the other 50% of the test dataset, which consists of the remaining 1,500 observations, and are revealed 5 minutes after the competition concludes. This final evaluation determines the ultimate standings of the competition.



**Marks**: 

- Total Marks: 40
- Your individual mark will consist of:  
    - 50% x overall assignment mark + 45% x mark for the task that you are responsible for + 5% x mark received from your teammates for your effort in group work 
- 1 mark: Ranking in the top 5 positions on the **final** leaderboard for your unit 
- 3 marks: Reaching the 1st place in your unit according to the **final** leaderboard ranking


**Submissions:**  

1. On Kaggle: submit your team's forecast in order to be ranked by Kaggle
    - Limit of 20 submission per day
2. On iLearn **only team leader to submit** the assignment Jupyter notebook re-named to your team's name on Kaggle   
    - The Jupyter notebook must contain team members names/ID numbers, and the group name Kaggle
    - One 15 minute video recording of your work 
        - 5 marks will be deducted from each Task for which there is no video presentation or if you don't follow the above instructions
3. On iLearn each student needs to submit a file with their teammates' names, ID number and a mark for their group effort (out of 100%)
    - You don't need to score yourself

---
---

**Fill out the following information**

- Team Name on Kaggle: `BUSA3020_datanoobs`
- Team Leader and Team Member 1: `Chau Anh Cong`
- Team Member 2: `Tran Tuan Huy	Bui`
- Team Member 3: `Thomas Haywood`

---

## Task 1: Problem Description and Initial Data Analysis

1. Based on the Competition Overview, datasets and additional information provided on Kaggle, along with insights gained from personal research of the topic, write **Problem Description** (about 500 words) focusing on the sections listed below: 
- Forecasting Problem - explain what we are trying to do and how it could be used in the real world, e.g. who and how may benefit from it (3 marks)    
- Evaluation Criteria - discuss the criteria that  is used to assess forecasting performance in detail (3 marks)     
- Categorise the variables provided in the dataset according to their type; Hint: similar to what we had in Programming Task 1 (2 marks)  
- Missing Values - only explain what you find for both the training and test datasets at this stage (2 marks)
- Provide and discuss some interesting *univariate* summary statistics and distributions in the training dataset  (2 marks)       
- Other Hints:
    - You should **not** discuss any specific predictive algorithms at this stage
    - Minimise the number of cells you use to enhance presentation and readability

**Total Marks: 12**

Student in charge of this task: `Thomas Haywood`

In [2]:
#Task 1 code here, insert more cells if required
import pandas as pd
import numpy as np

df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vin                   7000 non-null   object
 1   back_legroom          6997 non-null   object
 2   body_type             7000 non-null   object
 3   city                  7000 non-null   object
 4   city_fuel_economy     7000 non-null   float64
 5   daysonmarket          7000 non-null   int64
 6   dealer_zip            7000 non-null   int64
 7   engine_displacement   7000 non-null   float64
 8   engine_type           7000 non-null   object
 9   exterior_color        6890 non-null   object
 10  franchise_dealer      6916 non-null   object
 11  front_legroom         6997 non-null   object
 12  fuel_tank_volume      6997 non-null   object
 13  fuel_type             7000 non-null   object
 14  height                6997 non-null   object
 15  highway_fuel_economy  7000 non-null   float64
 16  horsepower            7000 non-null   float64
 17  interior_color        6195 non-null   object
 18  is_new                7000 non-null   bool
 19  latitude              6866 non-null   float64
 20  length                6997 non-null   object
 21  listed_date           7000 non-null   object
 22  listing_color         7000 non-null   object
 23  longitude             7000 non-null   float64
 24  make_name             7000 non-null   object
 25  maximum_seating       6997 non-null   object
 26  mileage               6718 non-null   float64
 27  model_name            7000 non-null   object
 28  power                 6992 non-null   object
 29  savings_amount        6892 non-null   float64
 30  seller_rating         6900 non-null   float64
 31  torque                7000 non-null   object
 32  transmission          6925 non-null   object
 33  transmission_display  6925 non-null   object
 34  wheel_system          6998 non-null   object
 35  wheelbase             6997 non-null   object
 36  width                 6997 non-null   object
 37  year                  7000 non-null   int64
 38  price                 7000 non-null   float64
dtypes: bool(1), float64(10), int64(3), object(25)
memory usage: 2.0+ MB

In [4]:
df_train.describe()

,city_fuel_economy,daysonmarket,dealer_zip,engine_displacement,highway_fuel_economy,horsepower,latitude,longitude,mileage,savings_amount,seller_rating,year,price
count,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,6866.000000,7000.000000,6718.000000,6892.000000,6900.000000,7000.000000,7000.000000
mean,21.497429,75.878571,50472.137714,2881.928571,28.661714,245.218429,36.957835,-90.594488,31088.643049,551.306152,4.274146,2017.746857,28851.277693
std,4.857918,105.594450,27196.771983,1206.612725,5.658987,87.436127,5.027006,13.826897,44033.494511,929.364379,0.517830,3.608016,17582.731720
min,10.000000,0.000000,1089.000000,1000.000000,13.000000,78.000000,24.571900,-123.205000,0.000000,0.000000,1.000000,1990.000000,650.000000
25%,18.000000,15.000000,30047.000000,2000.000000,24.000000,174.000000,33.484625,-96.951600,6.000000,0.000000,4.000000,2017.000000,17986.500000
50%,21.000000,36.000000,47893.000000,2500.000000,28.000000,243.000000,37.808200,-86.972800,11454.000000,0.000000,4.355556,2019.000000,25387.000000
75%,25.000000,80.000000,76457.000000,3500.000000,33.000000,300.000000,40.925750,-80.704600,43428.250000,834.000000,4.615385,2020.000000,36992.000000
max,70.000000,1259.000000,99362.000000,6800.000000,75.000000,797.000000,48.861600,-67.997400,285788.000000,12596.000000,5.000000,2021.000000,350000.000000

In [5]:
df_train.nunique()

vin                     7000
back_legroom             141
body_type                  9
city                    1969
city_fuel_economy         33
daysonmarket             479
dealer_zip              3086
engine_displacement       48
engine_type               21
exterior_color          1277
franchise_dealer           2
front_legroom             76
fuel_tank_volume         114
fuel_type                  5
height                   259
highway_fuel_economy      35
horsepower               245
interior_color          1010
is_new                     2
latitude                5054
length                   430
listed_date              466
listing_color             14
longitude               5029
make_name                 45
maximum_seating           11
mileage                 3863
model_name               414
power                    609
savings_amount          1920
seller_rating           1045
torque                   622
transmission               4
transmission_display      18
wheel_system               5
wheelbase                237
width                    203
year                      28
price                   4944
dtype: int64

`(Task 1, Text Here - insert more cells as required)`

Table listing all the features present in the dataset and their type

|Variable Kind|Number of Features|Feature Names|
| --- | --- | --- |
| Numeric | 18 | `back_legroom`, `city_fuel_economy`, `daysonmarket`, `engine_displacement`, `front_legroom`, `fuel_tank_volume`, `height`, `highway_fuel_economy`, `horsepower`, `latitude`, `longitude`, `length`, `maximum_seating`, `mileage`, `savings_amount`, `seller_rating`, `wheelbase`, `width`    |
| Ordinal  | 4 | `listed_date`, `power`, `torque`, `year`   |
| Nominal  | 16 | `vin`, `body_type`, `city`, `dealer_zip`, `engine_type`, `exterior_color`, `franchise_dealer` `fuel_type`, `interior_color`, `is_new`, `listing_color`, `make_name`, `model_name`, `transmission`, `transmission_display`, `wheel_system` |

In [6]:
df_train.isnull().sum()

vin                       0
back_legroom              3
body_type                 0
city                      0
city_fuel_economy         0
daysonmarket              0
dealer_zip                0
engine_displacement       0
engine_type               0
exterior_color          110
franchise_dealer         84
front_legroom             3
fuel_tank_volume          3
fuel_type                 0
height                    3
highway_fuel_economy      0
horsepower                0
interior_color          805
is_new                    0
latitude                134
length                    3
listed_date               0
listing_color             0
longitude                 0
make_name                 0
maximum_seating           3
mileage                 282
model_name                0
power                     8
savings_amount          108
seller_rating           100
torque                    0
transmission             75
transmission_display     75
wheel_system              2
wheelbase                 3
width                     3
year                      0
price                     0
dtype: int64

In [7]:
df_test.isnull().sum()

vin                       0
back_legroom             25
body_type                 0
city                      0
city_fuel_economy       349
daysonmarket              0
dealer_zip                0
engine_displacement      27
engine_type              59
exterior_color           45
franchise_dealer         39
front_legroom            25
fuel_tank_volume         25
fuel_type                45
height                   25
highway_fuel_economy    349
horsepower               27
interior_color          379
is_new                    0
latitude                 41
length                   25
listed_date               0
listing_color             0
longitude                 0
make_name                 0
maximum_seating          25
mileage                 149
model_name                0
power                   325
savings_amount           42
seller_rating            29
torque                  365
transmission             59
transmission_display     59
wheel_system              9
wheelbase                25
width                    25
year                      0
dtype: int64

In [8]:
df_train['back_legroom']

0       37.4 in
1       38.1 in
2       36.5 in
3       39.9 in
4       37.9 in
         ...
6995    38.4 in
6996    35.2 in
6997      36 in
6998    38.4 in
6999    36.1 in
Name: back_legroom, Length: 7000, dtype: object

---

## Task 2: Data Cleaning, Missing Observations and Feature Engineering
- In this task you need to follow a set of instructions/questions listed below.
- Make sure you explain each answer carefully both in Markdown text, as well as on your video.

**Total Marks: 12**

Student in charge of this task: `Tran Tuan Huy	Bui`

In [65]:
class Cleaner:
    def __init__(self, df: pd.DataFrame):
        self.df = df.copy()
    def extract_numerical_values(self, cols: list):
        for col in cols:
            self.df[col] = self.df[col].str.split(' ').str[0]
            self.df[col] = pd.to_numeric(self.df[col], errors='coerce')
        #return self.df

    def extract_multiple_values_from_field(self, col:str):
        '''
        Create new features from the existing numerical variables which contain 
        multiple items of information, for example you could extract maximum torque and torque rpm
        from the torque variable: 410 lb-ft @ 3,950 RPM to two new variables max_torque: 410 and
        torque_rpm: 3950. You can use regular expressions to extract the information.
        '''
        values = self.df[col].str.split('@')
        value1 = values.str[0].str.split(' ').str[0].str.replace(',', '').astype(float)
        value2 = values.str[1].str.split(' ').str[1].str.replace(',', '').astype(float)

        return value1, value2

    def impute_numerical_columns(self, numerical_cols:list):
        self.df[numerical_cols] = self.df.loc[:, numerical_cols].fillna(self.df[numerical_cols].mean(axis=0))        

    def impute_categorical_columns(self, categorical_cols:list):
        self.df[categorical_cols] = self.df.loc[:, categorical_cols].fillna(self.df[categorical_cols].mode(axis=0).iloc[0])

train_cleaner = Cleaner(df_train)

In [66]:
a = df_train["power"]
values = a.str.split('@').replace(',', '')
value1 = values.str[0].str.split(' ').str[0].str.replace(',', '')
value2 = values.str[1].str.split(' ').str[1].str.replace(',', '')



value2

0       6500
1       5000
2       5200
3       6500
4       6000
        ...
6995    6800
6996    6000
6997    6000
6998    6000
6999    6000
Name: power, Length: 7000, dtype: object

**Task 2, Question 1**: Clean **all** numerical features so that they can be used in training algorithms. For instance, back_legroom feature is in object format containing both numerical values and text. Extract numerical values (equivalently eliminate the text) so that the numerical values can be used as a regular feature.  
(2 marks)

In [ ]:
## Task 2, Question 1 Code Here

In [ ]:
train_cleaner.extract_numerical_values(['back_legroom', 'front_legroom', 'fuel_tank_volume', 'height',
                                        'length', 'maximum_seating', 'wheelbase', 'width'])

`(Task 2, Question 1 Text Here - insert more cells as required)`

**Task 2, Question 2** Create at least 5 new features from the existing numerical variables which contain multiple items of information, for example you could extract maximum torque and torque rpm from the torque variable.  
(2 marks)

In [ ]:
## Task 2, Question 2 Code Here

# TODO: Find one more feature to extract

In [ ]:
maximum_torque, torque_rpm = train_cleaner.extract_multiple_values_from_field('torque')
train_cleaner.df['maximum_torque'] = maximum_torque
train_cleaner.df['torque_rpm'] = torque_rpm

In [ ]:
maximum_power, power_rpm = train_cleaner.extract_multiple_values_from_field('power')
train_cleaner.df['maximum_power'] = maximum_power
train_cleaner.df['power_rpm'] = power_rpm

`(Task 2, Question 2 Text Here - insert more cells as required)`

**Task 2, Question 3**: Impute the missing values for all features in both the training and test datasets.   
(3 marks)

In [ ]:
## Task 2, Question 3 Code Here

In [ ]:
numerical_cols = ['back_legroom', 'city_fuel_economy', 'daysonmarket', 'engine_displacement', 
                  'front_legroom', 'fuel_tank_volume', 'height', 'highway_fuel_economy', 'horsepower', 
                  'latitude', 'longitude', 'length', 'maximum_seating', 'mileage', 'savings_amount', 
                  'seller_rating', 'wheelbase', 'width']

train_cleaner.impute_numerical_columns(numerical_cols)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_736\30720268.py:14: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df[categorical_cols] = self.df.loc[:, categorical_cols].fillna(self.df[categorical_cols].mode(axis=0).iloc[0])

`(Task 2, Question 3 Text Here - insert more cells as required)`

**Task 2, Question 4**: Encode all categorical variables appropriately as discussed in class. 

- Where multiple values are given for an observation encode the observation as 'other'. 
- Where a categorical feature contains more than 5 unique values, map the features into 5 most frequent values + 'other' and then encode appropriately. For instance, map colours into 5 basic colours + 'other': [red, yellow, green, blue, purple, other] and then encode.  
(2 marks)

In [ ]:
## Task 2, Question 4 Code Here

`(Task 2, Question 4 Text Here - insert more cells as required)`

**Task 2, Question 5**: Perform any other actions you think need to be done on the data before constructing predictive models, and clearly explain what you have done.   
(1 marks)

In [ ]:
## Task 2, Question 5 Code Here

`(Task 2, Question 5 Text Here - insert more cells as required)`

**Task 2, Question 6**: Perform some EDA to measure the relationship between the features and the target and carefully explain your findings. 
(2 marks)

In [ ]:
## Task 2, Question 6 Code Here

`(Task 2, Question 6 Text Here - insert more cells as required)`

--- 
## Task 3: Fit and tune a forecasting model, submit predictions & win competition

Make sure you **clearly explain each step** you do both in Markdown and on the recoded video.   
*In this task you must not create any additional features and should only relly on the datasets constructed in Task 2.*

1. Build and explain at least 3 machine learning (ML) regression models taking into account the outcomes of Tasks 1 & 2 (3 marks)    
2. Fit the models and tune hyperparameters via cross-validation: make sure you comment and explain each step clearly (3 marks)   
3. Select your best algorithm, create predictions using the test dataset, and submit your predictions on Kaggle's competition page. Make sure you explain all the steps that led you to chose this algorithm both in the video presentation and in your written answer. (4 marks)   
4. Provide Kaggle ranking and score (screenshot your final submission) and comment (e.g. how could you improve your ranking?) (2 mark)   

- Hints:
    - To perform well you will need to iterate Tasks 2 and Task 3
    - Make sure your Python code works, so that a marker that can replicate your Kaggle submission and score.
    - You will receive the mark of zero if your code does not produce the forecasts uploaded to Kaggle 

**Total Marks: 12**

Student in charge of this task: `Chau Anh Cong`

In [ ]:
#Task 3 code here

`(Task 3 - insert more cells as required)`

---
---
## Marking Criteria

To receive full marks your solutions must satisfy the following criteria:

- Problem Description: 12 marks
- Data Cleaning: 12 marks
- Building Forecasting models: 12 marks
- Competition Points: 4 marks
- Forecasts correctly uploaded to Kaggle
- Python code is clean and concise
- Written explanations are provided in clear and easy to understand sentences
- Video presentations are limited to 15 minutes in duration
- Each team member delivers a 5-minute presentation on their assigned task
    - During the video recording, make sure that both your face and Jupyter Notebook are clearly visible
    - Your code must be readable on the video
    - Discuss both the actions you took and, more importantly, the reasoning behind these actions, explaining the significance of key steps
- The assignment notebook is well-organised and easy to follow
- Failure to meet the above marking criteria will result in a deduction of marks

---
---